.button {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding: 0.6em 1.3em 0.6em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(to right, #2d2a4d, #4e4985, #424268);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.button:hover span {
  transform: translateX(7px);
}